/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;500&display=swap');

/* Main styling */
body {
    font-size: 1rem; /* Base font size */
    line-height: 1.8;
    color: var(--md-sys-color-on-background);
    background: var(--md-sys-color-background);
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

header {
    color: var(--md-sys-color-background);
    text-align: center;
    width: 100%;
}

nav {
    font-family: 'Futura PT', sans-serif;
    background-color: var(--md-sys-color-background);
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 10rem; /* Adjust the height as needed */
    margin-right: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

.nav-left ul li {
    font-weight: bold;
}

nav ul li a {
    color: var(--md-sys-color-primary);
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3125rem;
    transition: background 0.3s;
}

nav ul li a:hover {
    background: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
}

.nav-login-button {
    padding: 0.5rem 2rem;
    border: none;
    background-color: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
    border-radius: 0.3125rem; /* 5px = 0.3125rem */
    display: inline-block;
    font-weight:500;
    width: 100%;
    cursor: pointer;
    transition: background 0.3s ease;
}

.nav-login-button:hover {
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}

.main {
    padding: 9.375rem 0; /* 150px = 9.375rem */
    background: var(--md-sys-color-background);
}

.container {
    width: 56.25rem; /* 900px = 56.25rem */
    background: var(--md-sys-color-on-primary-container);
    margin: 0 auto;
    box-shadow: 0 0.9375rem 1.051875rem 0.010625rem rgba(0, 0, 0, 0.05); /* 15px, 16.83px, 0.17px */
    border-radius: 1.25rem; /* 20px = 1.25rem */
    padding: 3.125rem; /* 50px = 3.125rem */
}