{% extends 'authentication/master.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <section>
        <div class="pwd-container">
            <h2>Change Password</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">Change Password</button>
            </form>
        </div>
    </section>
{% endblock %}
